body {
  margin: 0;
  height: 60vh;
  overflow-x: hidden;
  background-size: cover;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: url('https://github.com/Suke2004/CCA-RnD-website/blob/main/IMG-20241027-WA0163.jpg?raw=true') no-repeat center center fixed;
  background-size: cover;
  flex: 1; 
}

@keyframes gradientAnimation {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.main {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 0;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4), 0 10px 15px rgba(0, 0, 0, 0.3);
  padding: 60px;
  margin: 30px 0; 
  width: 90%;
  max-width: 700px;
  color: #ffffff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main:hover {
  transform: translateY(-5px);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.6), 0 15px 20px rgba(0, 0, 0, 0.5);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.heading {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.heading h1 {
  font-size: 3rem; 
  font-weight: 700;
  font-family: sans-serif;
  color: #ffffff;
  text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.8);
  margin: 0;
  letter-spacing: 2.4px;
}

.heading p {
  font-size: 1.4rem;
  font-family: sans-serif;
  color: #afbecb;
  margin-top: 20px;
  width: 100%;
}

.count {
  backdrop-filter: blur(5px);
  background: rgba(19, 18, 18, 0.7);
  margin-top: 30px;
  padding: 20px;
  width: 100vw;
  height: auto; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.countdown h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  text-align: center;
}

@media (max-width: 768px) {
  .heading h1 {
    font-size: 2.25rem;
  }
  
  .heading p {
    font-size: 1.05rem; 
  }

  .main {
    padding: 40px; 
  }

  .countdown h1 {
    font-size: 1.15rem;
  }
}

@media (max-width: 480px) {
  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 0.7rem;
  }

  .main {
    padding: 23px; 
  }

  .count {
    flex-direction: column;
  }

  .countdown h1 {
    font-size : 0.95rem;
  }
}

.count {
  flex-direction: column;
}

.count h1 {
  font-size: 1.9rem;
  color: aliceblue;
  font-family: sans-serif;
}